{
  # debug is handy during bring-up; remove when stable
  debug

  # Access log -> shared volume, so CrowdSec can read it
  log {
    output file /var/log/caddy/access.log {
      roll_size 100MiB
      roll_keep 5
      roll_keep_for 100d
    }
    format json
    level INFO
  }

  crowdsec {
    api_url http://crowdsec:8080
    api_key {env.CROWDSEC_API_TOKEN}
    ticker_interval 15s
    appsec_url http://crowdsec:7422
    enable_hard_fails
  }
}

:80, :443 {
  route {
    crowdsec
    appsec

    redir /authentik /authentik/ 308

    handle_path /authentik/* {
      reverse_proxy authentik-server:9000
    }

    respond "Valid configuration. Crowdsec (✅ OK)<br> Appsec (✅ OK) <br> Authentik (✅ OK)" 200 {
      close
    }
  }
}
