{
  debug

  log {
    output file /var/log/caddy/access.log {
      roll_size 100MiB
      roll_keep 5
      roll_keep_for 100d
    }
    format json
    level INFO
  }

  crowdsec {
    api_url http://crowdsec:8080
    api_key {env.CROWDSEC_API_TOKEN}
    ticker_interval 15s
    appsec_url http://crowdsec:7422
    enable_hard_fails
  }
}

(authentik-auth) {
  forward_auth http://authentik-server:9000 {
    uri /outpost.goauthentik.io/auth/caddy
    copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
  }
}

:80, :443 {
  route {
    # 1) security først
    crowdsec
    appsec

    # 2) outpost må routes før auth (ellers kan du få loop)
    handle /outpost.goauthentik.io/* {
      reverse_proxy http://authentik-server:9000 {
        header_up Host {http.reverse_proxy.upstream.hostport}
      }
    }

    # 3) auth på resten
    import authentik-auth

    # 4) app
    root * /var/www/site1/public
    php_fastcgi php-fpm:9000
    file_server
  }
}
